.audioContainer
{
    position: absolute;
    z-index: 3;
    background-color: red;
    width: 5rem;
    height: 5rem;
}

.planetMenu
{
    position: absolute;
    z-index: 1;
    list-style: none;
}

.planetMenuBtn
{
    all: unset;
    cursor: pointer;
    color: white;
    font-weight: bold;
}